#photos .photo img {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 1;
    object-fit: cover;
  }

  /* aspect ratio 1 olması ile gelen tüm fotografların ölçülerinin aynı olamsı saglanıcak uzunluk ve yüksekliği birbirleri ile eşitleniyor sıkıştırılıyor */
  /* object fit cover diyerek fotograf görüntüsü netleştiriliyor  */