#products .product {
    text-align: center;
  }
  
  #products .product-header {
    color: var(--font-color-2);
    padding: 32px 0;
    margin-bottom: 16px;
    border-bottom: 2px solid var(--border-color-2);
  }
  
  #products .product-header h3 {
    color: var(--font-color-1);
  }
  
  #products .product-header h6 {
    font-weight: 400;
  }
  
  #products .product-header p {
    margin: 32px 0;
  }
  
  #products .product-header button {
    width: 100%;
    max-width: 160px;
    font-size: 15px;
    border-radius: var(--bs-border-radius-pill);
    margin: 2px auto;
    display: block;
  }
  
  #products .product-header a {
    font-size: 14px;
  }
  
  #products .product-feature:not(:first-child) {
    margin-top: 24px;
  }
  
  #products .product-feature i {
    font-size: 32px;
    margin-bottom: 8px;
    display: block;
  }
  
  #products .product-feature p {
    font-size: 15px;
    margin: 4px 0;
  }