body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Yatay düzenleme için flexbox kullanımı */
    justify-content: center; /* Menü öğelerini ortalar */
}

nav ul li {
    display: inline; /* Her liste öğesini yatay sıraya dizmek için */
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: block; /* Tıklanabilir alanı genişletmek için */
    text-align: center;
}

nav ul li a:hover {
    background-color: #575757;
}