:root {
    --font-color-1: #ffffff; 
    /* beyaz */
    --font-color-2: #868686;
    --background-color-1: #000000;
    --background-color-2: #101010;
    --border-color-1: rgba(255, 255, 255, 0.2);
    --border-color-2: rgba(255, 255, 255, 0.15);
}
/* her yerde tekrar tekrar oluşturmaktnasa generic 
değerleri kendi oluşturcağımız değişkenleri yazıyoruz 
var(--font-color-1) diyerek bu rengi kullanabiliriz*/

body {
    font-family: var(--bs-body-font-family);
    color: var(--font-color-1);
    background-color: var(--background-color-1);
}

/* bootstrapte arka plan fümeleşmiş tamamen siyah yapmak istiyoruz */